@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto !important;
}
.container h1{
  top:3px;
  margin-left: 300px;
  font-size: 1.5cm;
  color:yellowgreen;
}

body {
  background: hsl(318, 65%, 21%);
}

.header {
  width: 100%;
  height: 90px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(296, 74%, 66%);
  z-index: 11;
}

.header h5 {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  color: #fff;
}

.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country__card {
  width: 500px;
  border-radius: 10px;
  background: hsl(300, 23%, 22%);
  color: #fff;
}

.country__img img {
  margin-left: 100px;
  width: 60%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.all__country__wrapper {
  margin-top: 100px;
  padding-left: 50px;
  border-left: 20px;
}

.country__data {
  padding: 20px;
  margin-right: 150px;
  margin-right: 5;
}

.country__data h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
  margin-left: 100px;
}

.country__data h6 {
  margin-left: 100px;
  margin-bottom: 10px;
  font-weight: 400;
  opacity: 80%;
}

.country__bottom h4 {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

input {
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: hsl(0, 86%, 25%);
  border: none;
  outline: none;
  margin-bottom: 50px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
}

.country__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

select {
  padding: 10px 25px;
  background: hsl(0, 86%, 25%);
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.country__info__wrapper {
  margin-top: 120px;
}

.country__info__container {
  right: inherit;
  display: flex;
  column-gap: 1rem;
}

.country__info-right{
  border-top: 10px;
}
.country__info-img,
.country__info {
  border-top: 0;
  width: 50%;
  color:white;
}
.country__info, .country__info-right{
  margin-top: 10px;
}

button {
  padding: 10px 25px;
  color: #fff;
  background: hsl(0, 86%, 25%);
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.country__img{
  transition: 2s;
}
.country__img:hover{
  transform:scale(1.3);
  z-index: 1;
}
.country__data{
  transition: 2s;
}
.country__data:hover{
  transform:scale(1.3);
  z-index: 1;
}
.country__img::selection{
  color: #000;
  background: #def;
}
a {
  text-decoration: none;
  color: #fff;
}

.country__info h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.country__info-left h5 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.country__info-left h5 span {
  color: #fff;
  opacity: 85%;
  font-weight: 400;
}